@using Clockwork.Web.Models;
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4
@model TimeInquiryViewModel

@{
    ViewBag.Title = "Time Inquiries";
    Model.SelectedTimeZoneInfoStandardName = Request["SelectedTimeZoneInfoStandardName"] ?? Model.SelectedTimeZoneInfoStandardName;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <h2>@ViewBag.Title </h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Post", "TimeInquiries", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.DropDownListFor(model => model.SelectedTimeZoneInfoStandardName,
                       new SelectList(TimeZoneInfo.GetSystemTimeZones().Select(tz => new { Id = tz.StandardName, Name = string.Format("(UTC{0:+00;-00}:{1:00}) {2}", tz.BaseUtcOffset.Hours, tz.BaseUtcOffset.Minutes, tz.StandardName) }), "Id", "Name"),
                       new { @class = "form-control" })

                    <input type="submit" value="Get Time" class="btn btn-primary" />

                }
            </div>
        </div>

        <div class="col-lg-12 mx-auto">
            <table class="table">
                <tr>
                    <th>
                        UTC Date Time
                    </th>
                    <th>
                        Time Zone
                    </th>
                    <th>
                        IP Address
                    </th>
                    <th>
                        Server Time
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in ViewBag.TimeInquiryPage)
                {
                    <tr>
                        <td>
                            @item.UtcDateTime
                        </td>
                        <td>
                            @item.TimeZoneStandardName
                        </td>
                        <td>
                            @item.IpAddress
                        </td>
                        <td>
                            @item.ServerTime
                        </td>
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.TimeInquiryPage, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
</div>